*{
    margin: 0;
    padding: 0;
 }
.body{
        background-color: black;
}
/*index*/
 /*Header*/ 

 .titulo {
     font-family:Arial, Helvetica, sans-serif;
     font-size: 30px;
     color: white;
     background-color: black;
     display: flex;
     justify-content: center;
     padding-top: 25px;
     
    }

    /* Secciones */
.nav{
        display:flex;
        justify-content: center;        
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 1.5em;
        color: black;
        text-decoration: none;
        background-color: black;


}

.itemsmenu{
        display: inline;
        display: flex;
        justify-content: space-between;
        background-color: black;
        
}



.menu {
        text-decoration: none;
        color: whitesmoke;
}


        li {
                margin: 0.75rem;
                list-style: none;
        }
/*Imagen*/ 

.img-fluid{
        width: 300px;
        display: flex;
        justify-content: center;
        
}

.carousel-inner > .item > img { 
        margin: 0 auto;
 }



.actions {
          font-size: 1.5em;
          font-family: Georgia, 'Times New Roman', Times, serif;
          color: white;
          background-color: black;
          display: flex;
          justify-content: center;
          align-content: end;
          padding-top: 35px;
          margin: 100px auto 0 auto;

         
          
}

.video {
        background-color: black;
        display: flex;
        justify-content: center;
        padding: 200px;
        padding-top: 30px;
        padding-bottom: 100px;
        margin-top: 20px;
}





.spotify {
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         color: white;
         font-size: 20px;
         background-color: black;
         padding-bottom: 5px;
         padding-left: 30px;
         padding-top: 15px;
         text-decoration: underline;
}

.playlist {
           background-color: black;
         

}

.padre-redes{
        display: inline;
        display: flex;
     


}

     
.redes {
      font-size: 25px;
      text-decoration: none;
      font-family:Arial, Helvetica, sans-serif;
      background-color: #f3efef;
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      justify-content: center;
      text-shadow: white solid 3px;
 
         
}

.instagram{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: none;
        color: black;
        margin-top:40px;
        margin-bottom: 40px;
        text-shadow: white solid;
        
}
.icon-insta{
        width: 100px;
        
}

.facebook{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: none;
        color: black;
        text-shadow: white solid;
}
.icon-face{
        width: 100px;
}

.contacto {
           font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
           color: black;
           font-size: 20px;
           text-decoration: none;
           text-shadow: white solid;
}

.icon-contacto{
        width: 100px;
}

/*Contacto*/

.h1contacto{
        margin-top: 20px;
        display: flex;
        justify-content: center;
}

.form1{
        margin-top: 20px;
        display: flex;
        justify-content: center;
       
}

.formulario{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        
       
}
.form-floatin{
        margin-top: 10px;
        display: flex;
        justify-content: center;

}
.ubicacion {
        color: white;
        background-color: black;
        display: flex;
        justify-content: center ;

        
}

.parrafo{
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        padding-left: 15px 0 10px 1000px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
        margin-top: 20px;
        

}
.mapa-texto{
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        
}
.mapa {  
        margin-top: 10px;
        
}
.pie-mapa{
        margin-top: 20px;
}

/*fin index*/

/*Nosotros*/

.Nosotros{
        color: white;
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 40px;
        text-decoration: underline;
        display: flex;
        justify-content: center;

}

.fotos{
        display: flex;
        justify-content: center;
        align-items: center;
       

        
}
.garagefam {
        width: 450px;
        margin-top: 20px;
     
        
        

        
        
}

/*Eventos*/

.calendario { 
        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        background-color: #000000;
        margin-top: 30px;
        display: flex; 
        justify-content: center;
}

.calendar{
        background-color: rgb(12, 12, 12);
        display: flex;
        justify-content: center;
        margin-top: 20px;
}

.fechas { 
      background-color: black;
      color: white;
}

.carousel-inner{
        display: flex;
        justify-content: center;
        margin: auto;
}

.market{
        
        margin-top: 40px;
        border-radius: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        
}
.market1{
        display: flex;
        justify-content: center;
}
.card{
        background-color: #797979;
}


.whatsapp{
        background-color: #c2c2c2;
}

.icon-whats{
        
        width: 100px;
        font-size: 10px;
        font-family: 'Courier New', Courier, monospace;

}
      


         





   

 